.appointment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
  padding: 14px 18px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 119, 204, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 220px;
 height:80px
}

.appointment-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 119, 204, 0.2);
}

.appointment-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.appointment-title {
  font-size: 15px;
  font-weight: 600;
  color: #34495e;
}

.appointment-time {
  font-size: 13px;
  color: #7f8c8d;
}

.appointment-icon {
  font-size: 26px;
  margin-left: 14px;
}
