.upcoming-schedule {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
  height: 35%;
  margin-top: 15px;
}

.upcoming-schedule h3 {
  font-size: 22px;
  color: #2a4d69;
  font-weight: 600;
  margin-bottom: 20px;
}

.upcoming-schedule h4 {
  font-size: 16px;
  color: #898d8f;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 12px;
}

.appointment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
